@font-face {
    font-family: "NanumSquare Neo variable";
    src: url('./NanumSquareNeo/NanumSquareNeo-aLt.ttf'
    );
    font-weight: 300;
  }


@font-face {
    font-family: "NanumSquare Neo variable";
    src: url('./NanumSquareNeo/NanumSquareNeo-bRg.ttf'
    );
    font-weight: 400;
  }

@font-face {
    font-family: "NanumSquare Neo variable";
    src: url('./NanumSquareNeo/NanumSquareNeo-cBd.ttf'
    );
    font-weight: 500;
  }


@font-face {
    font-family: "NanumSquare Neo variable";
    src: url('./NanumSquareNeo/NanumSquareNeo-dEb.ttf'
    );
    font-weight: 700;
  }

  @font-face {
    font-family: "NanumSquare Neo variable";
    src: url('./NanumSquareNeo/NanumSquareNeo-eHv.ttf'
    );
    font-weight: 800;
  }
